.trafficLightHolder{
  background-color: black;
  height:100px;
  width:20px;
  margin:auto;
}
.trafficLightContainer{
  background-color: black;
  border-radius: 30px;
  width: 120px;
  margin: auto;
  padding:20px;
}
.redLightBulb{
  width: 80px;
  height:80px;
  border-radius: 50%;
  margin:auto;
  background-color: red;
  margin-top: 15px;
  opacity:50%;
}
.yellowLightBulb{
  width: 80px;
  height:80px;
  border-radius: 50%;
  margin:auto;
  background-color:yellow;
  margin-top: 15px;
  opacity:50%;
}
.greenLightBulb{
  width: 80px;
  height:80px;
  border-radius: 50%;
  margin:auto;
  background-color:lime;  
  margin-top: 15px;
  opacity:50%;
}
.purpleLightBulb{
  width: 80px;
  height:80px;
  border-radius: 50%;
  margin:auto;
  background-color:rgb(185, 2, 185);  
  margin-top: 15px;
  opacity:50%;
}
.selected{
  box-shadow: 0px 0px 40px wheat;
  opacity:100% !important;
}
.hideLight{
  display:none;
}
.addLightButton, .nextLight{
  margin:auto;
  margin-top:10px;
  padding:5px;
}
.mainContainer{
  display:flex;
  flex-direction:column;
}